html {
  scroll-behavior: smooth;
}
.wrapper {
  background-color: #e6eaf0;
}
.sec-1 {
  background-image: url("./assets/hero-bg-opt.webp");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero-logo {
  animation: glow 1.5s ease-in-out infinite;
}
@keyframes glow {
  0% {
    filter: drop-shadow(
      0 0 10px rgba(255, 255, 255, 0.5)
    ); /* Soft white glow */
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }
}

.menu-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
.hero-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 3px;
}
.hero-button {
  padding: 5px 25px;
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
  width: fit-content;
  letter-spacing: 2px;
}
.footer-button {
  padding: 5px 20px;
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  font-size: 16px;
  background-color: transparent;
  width: fit-content;
  letter-spacing: 2px;
}
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animated-icon {
  color: #c0c0c0;
  animation: upDown 1s ease-in-out infinite;
}
.sec2-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 55%;
  color: #234752;
  line-height: 26px;
  font-size: 16px;
}
.sec-3 {
  background-color: #234752;
}
.sec-3-header {
  font-size: 44px;
  letter-spacing: 3px;
  line-height: 50px;
  width: 50%;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
}
.sec-3-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  text-align: justify;
}
.team-img {
  width: 75%;
  height: 75%;
}
.sec-4-header {
  font-size: 44px;
  letter-spacing: 3px;
  line-height: 50px;
  width: 40%;
  color: #234752;
  font-family: "Bebas Neue", sans-serif;
}
.apparel-card {
  background-color: #234752;
  border-radius: 10px;
}
.apparel-img {
  max-width: 60%;
  height: 145px;
}
.apparel-card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 2px;
}
.features-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #234752;
  letter-spacing: 2px;
  line-height: 24px;
  font-weight: bold;
}
.features-sub-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #234752;
  letter-spacing: 2px;
  line-height: 24px;
}
.sec-5 {
  background-color: #234752;
}
.sec-5-header {
  font-size: 44px;
  letter-spacing: 3px;
  line-height: 50px;
  width: 35%;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
}
.print-card {
  height: 58%;
}
.fabric-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #234752;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 24px;
}
.fabric-img {
  width: 109px;
  height: 109px;
}
.fabric-sub-txt {
  text-align: center;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 2px;
}
.fabric-sub-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
}
.sec-7 {
  background-color: #234752;
}
.processImg {
  max-width: 150px;
  height: 105px;
}
.processText {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 51px;
  letter-spacing: 2px;
  color: #ffffff;
}
.processCard {
  width: fit-content;
}
.scroll-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0;
}

.logo-container {
  display: flex;
  animation: scroll 20s linear infinite;
}

.logo {
  max-width: 150px;
  max-height: 90px;
  margin: 0 10px;
  flex-shrink: 0;
}
.footer {
  background-color: #234752;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.footer-text {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer-text-2 {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer-certification-logo {
  width: 100px;
  height: 100px;
}
.form-control::placeholder {
  color: white;
}
@media (max-width: 768px) {
  .hero-text {
    font-size: 28px;
  }
  .sec2-text {
    max-width: 80%;
  }
  .sec-3-header {
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 35px;
    width: 100%;
  }
  .sec-3-text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
  }
  .team-img {
    height: 100%;
    padding-bottom: 50px;
  }
  .sec-4-header {
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 35px;
    width: 100%;
  }
  .features-text,
  .apparel-card-text {
    letter-spacing: 0;
  }
  .print-img {
    height: 280px !important;
  }
  .print-text {
    margin: 10px 0 !important;
  }
  .sec-5-header {
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 35px;
    width: 100%;
  }
  .footer-column {
    margin-bottom: 25px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-text {
    font-size: 32px; /* Slightly larger than phone size */
  }
  .sec2-text {
    max-width: 90%; /* Adjusted for tablet screen width */
  }
  .sec-3-header {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    width: 100%;
  }
  .sec-3-text {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 28px;
    text-align: justify;
  }
  .team-img {
    height: 90%; /* Adjusted height for tablets */
    padding-bottom: 40px;
  }
  .sec-4-header {
    font-size: 40px;
    letter-spacing: 1.5px;
    line-height: 40px;
    width: 100%;
  }
  .features-text,
  .apparel-card-text {
    letter-spacing: 0.5px;
  }
  .print-img {
    height: 425px !important; /* Adjusted for tablets */
  }
  .print-text {
    margin: 15px 0 !important;
  }
  .sec-5-header {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    width: 100%;
  }
  .footer-column {
    margin-bottom: 20px !important;
  }
  .print-card {
    height: 27% !important;
  }
}
